<html>
<head>
	<title>Heroku Sandbox Upload Example</title>
</head>
<body>
	<form method="POST" enctype="multipart/form-data">
	    <input type="file" name="file">
	    <input type="submit" value="Submit">
	</form>
</body>
</html>